<script lang="ts">
import InputField from '@/components/InputField.vue'
import { defineComponent, ref, onMounted } from 'vue'
import { createListing } from '@/services/listings'
import router from '@/router'

export default defineComponent({
  setup() {
    const form = ref<HTMLFormElement | null>(null)

    onMounted(() => {
      form.value = document.getElementById('listing-form') as HTMLFormElement
      if (form.value) {
        form.value.addEventListener('submit', handleSubmit)
      }
    })

    async function handleSubmit(e: Event) {
      e.preventDefault()

      if (form.value) {
        const formData = new FormData(form.value)

        try {
          await createListing(formData)
          console.log('Listing successfully created!')
          router.push('/')
        } catch (error) {
          console.error('Error creating listing:', error)
        }
      }
    }
  },
  components: {
    InputField
  }
})
</script>

<template>
  <main>
    <div class="title">
      <RouterLink to="/">
        <img src="/images/ic_back_grey@3x.png" alt="Back Arrow" />
        <span class="back-button">Back to overview</span>
      </RouterLink>
      <h1>Create New Listing</h1>
    </div>

    <form id="listing-form" method="POST" action="/">
      <InputField
        inputType="text"
        name="streetName"
        placeholder="Enter the street name"
        label="Street name*"
      />

      <div class="input-fields-row">
        <div class="input-field">
          <InputField
            inputType="number"
            name="houseNumber"
            id="houseNumber"
            placeholder="Enter house number"
            label="House Number*"
          />
        </div>

        <div class="input-field">

          <InputField
            inputType="text"
            name="numberAddition"
            id="numberAddition"
            placeholder="e.g. A"
            label="Addition (optional)"
          />
        </div>
      </div>

      <InputField inputType="text" name="zip" placeholder="e.g. 1000 AA" label="Postal Code*" />
      <InputField inputType="text" name="city" placeholder="e.g. Utrecht" label="City*" />
      <InputField
        inputType="file"
        name="image"
        placeholder="Image"
        label="Upload picture (PNG or JPG)*"
      />
      <InputField inputType="number" name="price" placeholder="Price" label="Price*" />

      <div class="input-fields-row">
        <div class="input-field">
          <InputField inputType="number" name="size" id="size" placeholder="e.g. 60m2" label="Size*"/>
        </div>

        <div class="input-field">
          <InputField inputType="boolean" name="hasGarage" id="hasGarage" placeholder="Select" label="Garage*"/>
        </div>
      </div>

      <div class="input-fields-row">
        <div class="input-field">
          <InputField inputType="number" name="bedrooms" id="bedrooms" placeholder="Bedrooms" label="Bedrooms*"/>
        </div>

        <div class="input-field">
          <InputField inputType="number" name="bathrooms" id="bathrooms" placeholder="Bathrooms" label="Bathrooms*"/>
        </div>
      </div>

      <InputField
        inputType="text"
        name="constructionYear"
        placeholder="e.g. 1990"
        label="Construction date*"
      />

      <div class="input-field">
        <label class="input-title" for="description">Description*</label>
        <textarea
          name="description"
          id="description"
          cols="30"
          rows="10"
          placeholder="Description"
        ></textarea>
      </div>

      <button type="submit">Post</button>
    </form>
  </main>
</template>

<style lang="scss" scoped>
main {
  @apply bg-house bg-no-repeat bg-cover bg-center;
}

form {
  @apply flex flex-col gap-6 max-w-md;
}

.title {
  @apply flex items-center justify-center w-full mb-8 md:flex-col md:gap-5;

  h1 {
    @apply mr-auto;
  }

  img {
    @apply w-5 h-auto;
  }

  a {
    @apply mr-auto flex items-center md:gap-4;
  }

  span {
    @apply hidden md:block;
  }
}

button {
  @apply bg-primary text-white rounded-md px-6 py-2 uppercase md:w-60 md:ml-auto;
}

.input-fields-row {
  @apply flex flex-row gap-4;
}

.input-field {
  @apply flex flex-col gap-1 w-full;

  input, textarea {
    @apply rounded-md p-3;
  }
}
</style>
