<script lang="ts">
import ListingsFilters from '@/components/ListingsFilters.vue'
import ListingCard from '@/components/ListingCard.vue'
import NoListings from '@/components/NoListings.vue'
import { sortingOptions } from '@/data/sorting-options'
import { getAllListings, deleteListing } from '@/services/listings'
import type { Listing } from '@/types/Listing'
import { defineComponent, ref, reactive, onMounted } from 'vue'

export default defineComponent({
  setup() {
    const showModal = ref(false)
    const sortingMethod = ref(sortingOptions[0].value)
    const listings = reactive([] as Listing[])
    const searchText = ref('')

    async function loadListings() {
      listings.splice(
        0,
        listings.length,
        ...(await getAllListings(sortingMethod.value, searchText.value))
      )
    }

    async function handleDeleteListing(listingId: number) {
      const confirmation = window.confirm('Are you sure you want to delete this listing?')

      if (confirmation) {
        await deleteListing(listingId)
        loadListings()
      }
    }

    function handleSortingUpdated(activeSortingMethod: string) {
      sortingMethod.value = activeSortingMethod
      loadListings()
    }

    function handleSearchUpdated(newSearchText: string) {
      searchText.value = newSearchText
      loadListings()
    }

    onMounted(() => {
      loadListings()
    })

    return {
      showModal,
      sortingMethod,
      listings,
      searchText,
      handleSortingUpdated,
      handleSearchUpdated,
      handleDeleteListing
    }
  },
  components: {
    ListingsFilters,
    ListingCard,
    NoListings
  }
})
</script>

<template>
  <main>
    <div class="header">
      <div class="title">
        <h1>Houses</h1>
        <RouterLink to="create">
          <button class="add-button-mobile">
            <img src="/images/ic_plus_grey@3x.png" alt="Add new Listing Icon" />
          </button>

          <button class="add-button">
            <img src="/images/ic_plus_white@3x.png" alt="Add new Listing Icon" />
            Create new
          </button>
        </RouterLink>
      </div>
    </div>

    <ListingsFilters
      @sorting-updated="handleSortingUpdated"
      @search-updated="handleSearchUpdated"
    />

    <div class="listings" v-if="listings.length !== 0">
      <div class="item" v-for="listing in listings" :key="listing.id">
        <ListingCard :listing="listing" :handleDeleteListing="handleDeleteListing" />
      </div>
    </div>

    <NoListings v-else />
  </main>
</template>

<style lang="scss" scoped>
.listings {
  @apply flex flex-col gap-4;
}

.header {
  @apply flex flex-col items-center justify-center gap-4 mb-4 md:mb-8 relative;
}

.title {
  @apply relative w-full flex justify-center md:justify-start;
}

.add-button {
  @apply absolute hidden md:flex items-center justify-center right-0 uppercase bg-primary text-white rounded-md px-6 py-2 gap-2;

  &:hover {
    @apply bg-secondary transition-all ease-in-out duration-300;
  }

  img {
    @apply w-5 h-auto;
  }
}

.add-button-mobile {
  @apply absolute flex md:hidden items-center justify-center right-0;

  img {
    @apply w-5 h-auto;
  }
}

.item {
  @apply rounded-md bg-background2 drop-shadow-sm;
}
</style>
