<script setup lang="ts">
import { RouterLink } from 'vue-router'
import { menuRoutes } from '@/router/menuRoutes'
import { useRoute } from 'vue-router'

const $route = useRoute()
</script>

<template>
  <div class="menu">
    <img alt="DTT Logo" class="logo" src="/images/img_logo_dtt@3x.png" />
    <nav class="menu__items">
      <RouterLink
        v-for="route in menuRoutes"
        :key="route.path"
        :class="{
          'active-header-link': $route.path === route.path,
          'inactive-header-link': $route.path !== route.path
        }"
        :to="route.path"
        >{{ route.name }}</RouterLink
      >
    </nav>
  </div>
</template>

<style lang="scss" scoped>
.logo {
  width: 150px;
  height: auto;
}

.menu {
  @apply flex items-center gap-16 m-auto max-w-screen-xl w-full py-6 px-8;

  &__items {
    @apply flex items-center gap-16;
  }
}
</style>