<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    inputType: String,
    name: String,
    placeholder: String,
    label: String
  }
})
</script>
<template>
  <div class="input-field">
    <label class="input-title" :for="name">{{ label }}</label>
    <input :type="inputType" :name="name" :id="name" :placeholder="placeholder" />
  </div>
</template>

<style lang="scss" scoped>
.input-field {
  @apply flex flex-col gap-1 w-full;

  input,
  textarea {
    @apply rounded-md p-3;
  }
}
</style>
