<script setup lang="ts">
import { defineProps } from 'vue';

function formatPrice(price: number) {
  return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
}

const { listing, handleDeleteListing } = defineProps(['listing', 'handleDeleteListing']);
</script>


<template>
  <div class="card">
    <div class="card__image">
      <img :src="listing.image" alt="Listing Image" />
    </div>

    <div class="card__content">
      <h2>{{ listing.location.street }}</h2>
      <p class="listing-information">€ {{ formatPrice(listing.price) }}</p>
      <p class="body-text">{{ listing.location.zip }} {{ listing.location.city }}</p>

      <ul>
        <li class="body-text">
          <img class="icon" src="/images/ic_bed@3x.png" alt="" /> {{ listing.rooms.bedrooms }}
        </li>
        <li class="body-text">
          <img class="icon" src="/images/ic_bath@3x.png" alt="" /> {{ listing.rooms.bathrooms }}
        </li>
        <li class="body-text">
          <img class="icon" src="/images/ic_size@3x.png" alt="" /> {{ listing.size }} m2
        </li>
      </ul>

      <div class="card__buttons">
        <button><img src="/images/ic_edit@3x.png" alt="Edit Listing" /></button>
        <button @click="handleDeleteListing(listing.id)">
          <img src="/images/ic_delete@3x.png" alt="Delete Listing" />
        </button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.card {
  @apply flex relative gap-4 px-3 py-4;

  &__image {
    @apply my-auto w-28 h-28 md:w-32 md:h-32;

    img {
      @apply w-full h-full object-cover rounded-md;
    }
  }

  &__content {
    @apply flex flex-col justify-center gap-2;
  }

  &__buttons {
    @apply absolute flex gap-2 top-4 right-4;

    :hover {
      @apply transform scale-110 transition-all ease-in-out duration-300;
    }

    button img {
      @apply w-4 h-auto;
    }
  }
}
ul {
  @apply flex gap-2;

  li {
    @apply flex items-center gap-1;
  }
}
.icon {
  @apply w-4 h-4;
}
</style>
