<script lang="ts">
import type { SortingOption } from '@/types/SortingOption'
import { defineComponent } from 'vue'
import { sortingOptions } from '@/data/sorting-options'

export default defineComponent({
  data() {
    return {
      activeSortingMethod: sortingOptions[0].value,
      searchText: ''
    }
  },
  computed: {
    sortingOptions(): SortingOption[] {
      return sortingOptions
    }
  },
  methods: {
    setActiveSorting(filter: string) {
      this.activeSortingMethod = filter
      this.$emit('sorting-updated', this.activeSortingMethod)
    },
    clearSearch() {
      this.searchText = ''
    },
    setSearch() {
      this.$emit('search-updated', this.searchText)
    },
    isSearchActive() {
      return this.searchText.length > 0
    },
    isActiveSorting(filter: string) {
      return this.activeSortingMethod === filter
    }
  }
})
</script>

<template>
  <form class="filter">
    <div class="search">
      <img src="/images/ic_search@3x.png" alt="Search Icon" />

      <input
        class="input-field"
        type="text"
        v-model="searchText"
        placeholder="Search for a house"
        @input="setSearch"
      />

      <button @click="clearSearch" v-show="searchText.trim() !== ''">
        <img src="/images/ic_clear@3x.png" alt="Clear Search Icon" />
      </button>
    </div>

    <div class="sorting__buttons">
      <button
        v-for="option in sortingOptions"
        :key="option.value"
        :class="[
          { active: isActiveSorting(option.value) },
          `sorting__buttons--${option.value.toLowerCase()}`
        ]"
        @click="setActiveSorting(option.value)"
        :disabled="isActiveSorting(option.value)"
      >
        {{ option.label }}
      </button>
    </div>
  </form>
</template>

<style lang="scss" scoped>
.filter {
  @apply flex flex-col gap-4 w-full mb-6 md:flex-row md:justify-between md:items-center;
  .search {
    @apply flex items-center px-6 py-2 rounded-md bg-tertiary md:w-80 md:py-3;

    img {
      @apply h-auto w-5 m-auto;
    }

    input {
      @apply pl-4 bg-tertiary w-full outline-none;
    }
  }

  .sorting__buttons {
    @apply flex items-center justify-center rounded-md;

    button {
      @apply px-4 py-2 w-full text-white md:w-40 bg-quaternary transition-all ease-in-out duration-300;
    }

    &--price {
      @apply rounded-l-md;
    }

    &--size {
      @apply rounded-r-md;
    }

    .active {
      @apply bg-primary;
    }
  }
}
</style>
