<script setup lang="ts">
import { RouterLink } from 'vue-router'
import { menuRoutes } from '@/router/menuRoutes'
import { useRoute } from 'vue-router'

const $route = useRoute()

const getRouteImage = (route: any): string => {
  return $route.path === route.path ? route.meta.activeImage : route.meta.image
}

const getImageAlt = (route: any): string => {
  return route.name + ' Icon'
}
</script>

<template>
  <div class="menu">
    <nav class="menu__items">
      <RouterLink v-for="route in menuRoutes" :key="route.path" :to="route.path">
        <img :src="getRouteImage(route)" :alt="getImageAlt(route)" />
      </RouterLink>
    </nav>
  </div>
</template>

<style lang="scss" scoped>
.logo {
  width: 150px;
  height: auto;
}

.menu {
  @apply flex gap-4 py-4 bottom-0 w-full bg-background2 drop-shadow-2xl fixed md:hidden;

  &__items {
    @apply flex items-center justify-around gap-4 w-full;

    img {
      @apply w-8 h-auto;
    }
  }
}
</style>