<template>
  <div class="no-items">
    <img src="/images/img_empty_houses@3x.png" alt="No Listings Images" />
    <div class="no-items__text">
      <span class="empty-state-message">No results found</span>
      <span class="empty-state-message">Please try another keywoard</span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.no-items {
  @apply flex flex-col items-center justify-center mt-20 gap-4;

  &__text {
    @apply flex flex-col items-center justify-center gap-1;
  }
}
</style>
