@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full m-0 bg-background1;
}

body {
  @apply h-full m-0;
}

#app {
  @apply flex flex-col h-full;
}

main {
  @apply flex-1;
}

/* DTT Front-end Style Guide */
h1 {
  @apply font-montserrat font-bold text-header1Mobile md:text-header1 text-primary;
}

h2 {
  @apply font-montserrat font-bold text-header2Mobile md:text-header2 text-primary;
}

.active-header-link {
  @apply font-montserrat font-bold text-activeMenu;
}

.inactive-header-link {
  @apply font-montserrat font-medium text-inactiveMenuMobile md:text-inactiveMenu;
}

button {
  @apply font-montserrat font-semibold text-buttonsMobile md:text-buttons;
}

.back-button {
  @apply font-montserrat font-semibold text-backButton;
}

.input-title {
  @apply font-montserrat font-semibold text-inputFieldTitleMobile md:text-inputFieldTitle;
}

.empty-state-message {
  @apply font-montserrat font-medium text-emptyStateMessageMobile md:text-emptyStateMessage;
}

.error-message {
  @apply font-montserrat font-medium italic text-errorMessageMobile md:text-errorMessage;
}

.listing-information {
  @apply font-openSans font-semibold text-listingInformationMobile md:text-listingInformation text-secondary;
}

.body-text {
  @apply font-openSans text-bodyTextMobile md:text-bodyText;
}

.input-field {
  @apply font-openSans text-inputFieldMobile md:text-inputField;
}
