<script setup lang="ts">
import { RouterView } from 'vue-router'
import HeaderMenu from '@/components/HeaderMenu.vue'
import MobileMenu from '@/components/MobileMenu.vue'
</script>

<template>
  <header>
    <HeaderMenu />
  </header>

  <RouterView />

  <MobileMenu />
</template>

<style lang="scss">
main {
  @apply p-6 m-auto max-w-screen-xl w-full md:p-8 md:pt-40 pb-24 md:pb-8;
}

header {
  @apply bg-background2 drop-shadow-md fixed z-10 w-full hidden md:block;
}
</style>
